<div class='user'>
  <img class="user-image black-border" src='<%= @user.photo %>' alt='user-photo'>
  <div class="user-data black-border">
    <%= link_to @user.name, user_path(id: @user.id), class: 'user-index-name' %>
    <p class="user-index-posts">Posts: <%= @user.posts_counter || 0 %></p>
  </div>
</div>
<div class="post-btn-container">
<%= link_to 'New Post', new_user_post_path(user_id: @user.id), class: 'new-post-btn' %>
</div>
