<div class="new-post-container">
<h2 class="new-post-label">Create a new post:</h2>
<%= form_with url: "/users/#{@user.id}/posts", scope: :post, class: 'new-post-form' do |f| %>
      <%= f.text_field :title, placeholder: 'Title', class: 'new-post-title' %>
      <%= f.text_area :text, placeholder: 'Write your post here', class: 'new-post-text' %>
      <%= f.submit "Submit", class: 'new-post-btn' %>
    <% end %>
</div>