/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: sans-serif;
}

.user {
  display: flex;
  margin: 0.5rem 1rem;
}

.black-border {
  border: 2px solid black;
}

.user-image {
  width: 7rem;
  height: 7rem;
}

.user-data {
  margin-left: 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}

.user-index-name {
  font-size: 3rem;
  margin-left: 1rem;
  align-self: center;
  color: #000;
  text-decoration: none;
}

.user-index-posts {
  align-self: flex-end;
  margin-right: 2rem;
}

.user-bio {
  margin: 1rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
}

.section-title {
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
  font-weight: bolder;
}

.post-counters {
  margin: 0 1rem;
  text-align: right;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.posts-btn {
  color: #000;
  text-decoration: none;
  padding: 1rem;
}

.post-comments {
  margin: 0 1rem;
  list-style: none;
  padding: 1rem 0;
}

.comment {
  margin: 0.2rem 1rem;
}

.post {
  margin: 1rem;
  padding: 1rem;
}

.post-detailed {
  display: flex;
  justify-content: space-between;
}

.like-btn {
  color: #000;
  background-color: #fff;
  margin: 1rem 0;
}

.comment-txt {
  resize: none;
  width: 100%;
  height: 3rem;
  margin: 0;
}

.comment-btn {
  color: #000;
  background-color: #fff;
  margin-left: 0.5rem;
}

.comment-form {
  display: flex;
  justify-content: space-between;
}

.post-btn-container {
  margin: 1.5rem 1rem;
}

.new-post-btn {
  color: #000;
  background-color: #fff;
  text-decoration: none;
  padding: 1rem;
  border: 2px solid black;
  cursor: pointer;
}

.new-post-container {
  max-width: 600px;
  margin: auto;
}

.new-post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.new-post-label {
  margin: 1rem;
}

.new-post-text {
  height: 3rem;
  margin: 0;
  resize: vertical;
}

.alert {
  margin: 0.5rem 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.success {
  background-color: #28a745;
}

.error {
  background-color: #d92550;
}
